softin:registry=https://pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/registry/always-auth=false


; colar chave gerada no azure abaixo

; begin auth token
//pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/registry/:username=softin-sistemas
//pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/registry/:_password=[emw1enk1NW92YTM1em9mdGtwemdiczc1dnloYmY2aWluY2JmN3dtbXU3YnN0bGd4NDd4YQ==]
//pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/registry/:email=ti@softin.com.br
//pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/:username=softin-sistemas
//pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/:_password=[BASE64_ENCODED_PERSONAL_ACCESS_TOKEN]
//pkgs.dev.azure.com/softin-sistemas/Gravittem/_packaging/softinperson108/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

; Pnpm Config
auto-install-peers=true
shamefully-hoist=true
