{
    "singleQuote": true,
    "trailingComma": "all",
    "semi": false,
    "printWidth": 80,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}